apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: urbackup
  namespace: external-service
spec:
  interval: 5m
  chart:
    spec:
      # renovate: registryUrl=https://charts.truechartsoci.org
      chart: external-service
      version: 16.12.0
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 5m
  install:
    createNamespace: true
    crds: CreateReplace
    remediation:
      retries: 3
  upgrade:
    crds: CreateReplace
    remediation:
      retries: 3
  values:
    portal:
      open:
        enabled: false
    service:
      main:
        enabled: true
        externalIP: 10.16.61.10
        ports:
          main:
            enabled: true
            port: 55414
            protocol: http
        type: ExternalIP
    ingress:
      main:
        enabled: true
        ingressClassName: external        
        hosts:
          - host: backups.${DOMAIN_0}
            paths:
              - path: /
                pathType: Prefix
        integrations:
          certManager:
            certificateIssuer: prod-dl
            enabled: true
          traefik:
            enabled: false
            entrypoints:
              - websecure
            middlewares:
              - name: private-range
                namespace: traefik              
