---
## yaml-language-server: $schema=https://kubernetes-schemas.zinn.ca/helm.toolkit.fluxcd.io/helmrelease_v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: qbittorrent
  namespace: media
spec:
  interval: 15m
  chart:
    spec:
      chart: qbittorrent
      version: 23.3.5
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 15m
  timeout: 20m
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    service:
      torrent:
        loadBalancerIP: ${NGINX_INTERNAL_IP}
    ingress:
      main:
        enabled: true
        ingressClassName: internal
        integrations:
          traefik:
            enabled: false
            middlewares:
              - name: private-range
                namespace: traefik
          certManager:
            enabled: true
            certificateIssuer: prod-dl
        hosts:
          - host: torrent.${DOMAIN_0}
            paths:
              - path: /
                pathType: Prefix
    persistence:
      downloads:
        enabled: true
        type: nfs
        path: /mnt/CHONK/media/jellyfin
        server: 10.16.61.10
        mountPath: "/jellyfin"
        mountOptions:
          - nfsvers=4
          - tcp
          - intr
          - hard
          - noatime
          - nodiratime
          - nolock
      odis:
        enabled: true
        type: nfs
        path: /mnt/CHONK/backups/qnap-tsh886/Projecten/EV-Thuis-Accu/ODIS
        server: 10.16.61.10
        mountPath: "/ODIS"
        mountOptions:
          - nfsvers=4
          - tcp
          - intr
          - hard
          - noatime
          - nodiratime
          - nolock               