---
## yaml-language-server: $schema=https://kubernetes-schemas.zinn.ca/helm.toolkit.fluxcd.io/helmrelease_v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: homepage
  namespace: homepage
spec:
  interval: 15m
  chart:
    spec:
      chart: homepage
      version: 11.18.8
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 15m
  timeout: 20m
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    workload:
      main:
        podSpec:
          containers:
            main:
              env:
                # Set this to your host (example: home.mydomain.com)
                HOMEPAGE_ALLOWED_HOSTS: "homepage.${DOMAIN_0}"
    credentials:
      s3:
        type: s3
        url: "${S3URL}"
        bucket: "${S3PREFIX}-homepage"
        accessKey: "${MINIO_ACCESSKEY}"
        secretKey: "${MINIO_SECRETKEY}"
        encrKey: "${MINIO_SECRETKEY}"
    ingress:
      main:
        enabled: true
        ingressClassName: internal
        integrations:
          traefik:
            enabled: false
            middlewares:
              - name: private-range
                namespace: traefik
          certManager:
            enabled: true
            certificateIssuer: prod-dl
        hosts:
          - host: homepage.${DOMAIN_0}
            paths:
              - path: /
                pathType: Prefix

    persistence:
      config:
        volsync:
          - name: config
            type: restic
            credentials: s3
            dest:
              enabled: true
            src:
              enabled: true

    addons:
      codeserver:
        enabled: true
        ingress:
          enabled: true
          ingressClassName: internal
          hosts:
          - host: homepage.code.${DOMAIN_0}
            paths:
            - path: /
              pathType: Prefix
          integrations:
            certManager:
              certificateIssuer: prod-dl
              enabled: true
            traefik:
              enabled: false
              middlewares:
              - name: private-range
                namespace: 'traefik'





    # addons:
    #   codeserver:
    #     # -- Enable running a code-server container in the pod
    #     enabled: true

    #     service:
    #       # -- Enable a service for the code-server add-on.
    #       type: "LoadBalancer"
    #       loadBalancerIP: "10.16.61.130"
    #       # Specify the default port information
    #       ports:
    #         codeserver:
    #           port: 12321              