---
## yaml-language-server: $schema=https://kubernetes-schemas.zinn.ca/helm.toolkit.fluxcd.io/helmrelease_v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: grafana
  namespace: grafana
spec:
  interval: 15m
  chart:
    spec:
      chart: grafana
      version: 17.14.0
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 15m
  timeout: 20m
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    credentials:
      minio:
        type: s3
        url: "${S3URL}"
        bucket: "${S3PREFIX}-grafana"
        accessKey: "${MINIO_ACCESSKEY}"
        secretKey: "${MINIO_SECRETKEY}"
        encrKey: "${MINIO_SECRETKEY}"

    cloudflareddns:
      user: ${DOMAIN_0_EMAIL}
      api_token: "${DOMAIN_0_CLOUDFLARE_TOKEN}"
      detect_mode: dig-whoami.cloudflare
      host_zone_record:
      - domain: ${DOMAIN_0}
        record: A
        zone: ${ZONE_0}




      persistence:
        config:
          volsync:
          - name: config
            type: restic
            credentials: minio
            dest:
              enabled: true
            src:
              enabled: true
