---
## yaml-language-server: $schema=https://kubernetes-schemas.zinn.ca/helm.toolkit.fluxcd.io/helmrelease_v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: sonarr
  namespace: media
spec:
  interval: 15m
  chart:
    spec:
      chart: sonarr
      version: 25.2.6
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 15m
  timeout: 20m
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    workload:
      exportarr:
        enabled: false

    metrics:
      main:
        enabled: false

    ingress:
      main:
        enabled: true
        ingressClassName: internal
        integrations:
          traefik:
            enabled: false
            middlewares:
              - name: private-range
                namespace: traefik
          certManager:
            enabled: true
            certificateIssuer: prod-dl
          homepage:
            group: "Arr"          
            enabled: true
            name: "sonarr"
            href: http://sonarr.media.svc.cluster.local:8989
            custom:
              key: ${SONARR_API}
        hosts:
          - host: sonarr.${DOMAIN_0}
            paths:
              - path: /
                pathType: Prefix
    persistence:
      rootfolders:
        enabled: true
        mountPath: "/jellyfin"
        type: nfs
        path: /mnt/CHONK/media/jellyfin
        server: 10.16.61.10
        mountOptions:
          - nfsvers=4
          - tcp
          - intr
          - hard
          - noatime
          - nodiratime
          - nolock     