---
## yaml-language-server: $schema=https://kubernetes-schemas.zinn.ca/helm.toolkit.fluxcd.io/helmrelease_v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: prometheus
  namespace: prometheus
spec:
  interval: 15m
  chart:
    spec:
      chart: prometheus
      version: 19.29.7
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 15m
  timeout: 20m
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    credentials:
      minio:
        type: s3
        url: "${S3URL}"
        bucket: "${S3PREFIX}-prometheus"
        accessKey: "${MINIO_ACCESSKEY}"
        secretKey: "${MINIO_SECRETKEY}"
        encrKey: "${MINIO_SECRETKEY}"  
    ingress:
      main:
        enabled: true
        integrations:
          traefik:
            enabled: true
            middlewares:
              - name: private-range
                namespace: traefik
          certManager:
            enabled: true
            certificateIssuer: prod-dl            
        hosts:
          - host: prometheus.${DOMAIN_0}
            paths:
              - path: /
                pathType: Prefix           