---
## yaml-language-server: $schema=https://kubernetes-schemas.zinn.ca/helm.toolkit.fluxcd.io/helmrelease_v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: navidrome
  namespace: media
spec:
  interval: 15m
  chart:
    spec:
      chart: navidrome
      version: 21.9.0
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 15m
  timeout: 20m
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    credentials:
      s3:
        type: s3
        url: "${S3URL}"
        bucket: "${S3PREFIX}-navidrome"
        accessKey: "${MINIO_ACCESSKEY}"
        secretKey: "${MINIO_SECRETKEY}"
        encrKey: "${MINIO_SECRETKEY}"
    ingress:
      main:
        enabled: true
        ingressClassName: external
        integrations:
          traefik:
            enabled: false
            # middlewares:
            #   - name: local
            #     namespace: traefik
          certManager:
            enabled: true
            certificateIssuer: prod-dl
          homepage:
            group: "Media"          
            enabled: true
            name: "navidrome"
        hosts:
          - host: music.${DOMAIN_0}
            paths:
              - path: /
                pathType: Prefix
    persistence:
      music:
        enabled: true
        type: nfs
        path: /mnt/CHONK/media/jellyfin/media/music
        server: 10.16.61.10
        mountOptions:
          - nfsvers=4
          - tcp
          - intr
          - hard
          - noatime
          - nodiratime
          - nolock
      data:    
        volsync:
          - name: data
            type: restic
            credentials: s3
            dest:
              enabled: true
            src:
              enabled: true

