---
## yaml-language-server: $schema=https://kubernetes-schemas.zinn.ca/helm.toolkit.fluxcd.io/helmrelease_v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: unpoller
  namespace: unpoller
spec:
  interval: 15m
  chart:
    spec:
      chart: unpoller
      version: 12.3.0
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 15m
  timeout: 20m
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    # service:
    #   main:
    #     type: LoadBalancer
    #     loadBalancerIP: 10.16.61.160
    workload:
      main:
        podSpec:
          containers:
            main:
              env:
                UP_UNIFI_DEFAULT_URL: "${UNIFI_URL}"
                UP_UNIFI_DEFAULT_USER: "${UNIFI_USER}"
                UP_UNIFI_DEFAULT_PASS: "${UNIFI_PASS}" 
                UP_PROMETHEUS_DISABLE: false
               