---

apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: clusterissuer
  namespace: clusterissuer
spec:
  interval: 15m
  chart:
    spec:
      chart: clusterissuer
      version: 10.4.0
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 15m
  timeout: 20m
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:

    clusterIssuer:
      selfSigned:
        enabled: true
        name: "selfsigned"
      ACME:
        - name: staging-dl
          # Used for both logging in to the DNS provider AND ACME registration
          email: "${DOMAIN_0_EMAIL}"
          server: 'https://acme-staging-v02.api.letsencrypt.org/directory'
          # Options: HTTP01, cloudflare, route53, akamai, digitalocean, rfc2136, acmedns
          type: "cloudflare"
          # for cloudflare
          cfapitoken: "${DOMAIN_0_CLOUDFLARE_TOKEN}"
        - name: prod-dl
          # Used for both logging in to the DNS provider AND ACME registration
          email: "${DOMAIN_0_EMAIL}"
          server: 'https://acme-v02.api.letsencrypt.org/directory'
          # Options: HTTP01, cloudflare, route53, akamai, digitalocean, rfc2136, acmedns
          type: "cloudflare"
          # for cloudflare
          cfapitoken: "${DOMAIN_0_CLOUDFLARE_TOKEN}"

        - name: staging-zmc
          # Used for both logging in to the DNS provider AND ACME registration
          email: "${DOMAIN_0_EMAIL}"
          server: 'https://acme-staging-v02.api.letsencrypt.org/directory'
          # Options: HTTP01, cloudflare, route53, akamai, digitalocean, rfc2136, acmedns
          type: "cloudflare"
          # for cloudflare
          cfapitoken: "${DOMAIN_1_CLOUDFLARE_TOKEN}"
        - name: prod-zmc
          # Used for both logging in to the DNS provider AND ACME registration
          email: "${DOMAIN_0_EMAIL}"
          server: 'https://acme-v02.api.letsencrypt.org/directory'
          # Options: HTTP01, cloudflare, route53, akamai, digitalocean, rfc2136, acmedns
          type: "cloudflare"
          # for cloudflare
          cfapitoken: "${DOMAIN_1_CLOUDFLARE_TOKEN}"




    clusterCertificates:
      # Namespaces in which the certificates must be available
      # Accepts comma-separated regex expressions
      replicationNamespaces: '.*'
      # replicationNamespaces: 'ix-.*'
      certificates:
        - name: dl-wildcard
          enabled: true
          certificateIssuer: prod-dl
          hosts:
            - dutchlincoln.nl
            - '*.dutchlincoln.nl'
        - name: zmc-wildcard
          enabled: true
          certificateIssuer: prod-zmc
          hosts:
            - zephyrus-mc.com
            - '*.zephyrus-mc.com'