---
## yaml-language-server: $schema=https://kubernetes-schemas.zinn.ca/helm.toolkit.fluxcd.io/helmrelease_v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: vaultwarden
  namespace: vaultwarden
spec:
  interval: 15m
  chart:
    spec:
      chart: vaultwarden
      version: 28.8.2
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 15m
  timeout: 20m
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    credentials:
      s3:
        type: s3
        url: "${S3URL}"
        bucket: "${S3PREFIX}-vaultwarden"
        accessKey: "${MINIO_ACCESSKEY}"
        secretKey: "${MINIO_SECRETKEY}"
        encrKey: "${MINIO_SECRETKEY}"
    ingress:
      main:
        enabled: true
        integrations:
          traefik:
            enabled: true
            entrypoints:
            - websecure
            # middlewares:
            #   - name: local
            #     namespace: traefik
          certManager:
            enabled: true
            certificateIssuer: prod-dl
        hosts:
          - host: vault.${DOMAIN_0}
            paths:
              - path: /
                pathType: Prefix
    vaultwarden:
      # -- Allow any user to sign-up
      # see: https://github.com/dani-garcia/bitwarden_rs/wiki/Disable-registration-of-new-users
      allowSignups: false
      admin:
        enabled: true
        primary: false
        targetSelector:
          main: main
        integrations:
          traefik:
            enabled: true
            entrypoints:
            - websecure
            middlewares:
              - name: private-range
                namespace: traefik
            enableFixedMiddlewares: true    
          certManager:
            enabled: true
            certificateIssuer: prod-dl
        hosts:
          - host: vault.${DOMAIN_0}
            paths:
              - path: /
                pathType: Prefix                 

        # Disabling the admin token will make the admin portal accessible to anyone, use carefully: https://github.com/dani-garcia/bitwarden_rs/wiki/Disable-admin-token
        disableAdminToken: false
        ## Token for admin login, will be generated if not defined. https://github.com/dani-garcia/bitwarden_rs/wiki/Enabling-admin-page
#        token: "${VW_TOKEN}"
    persistence:
      data:
        volsync:
          - name: data
            type: restic
            credentials: s3
            dest:
              enabled: true
            src:
              enabled: true
    cnpg:
      main:
        mode: recovery
        backups:
          enabled: true
          credentials: s3
        recovery:
          method: object_store
          credentials: s3