apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: homeassistant
  namespace: external-services
spec:
  interval: 15m
  chart:
    spec:
      chart: external-service
      version: 15.2.2
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 15m
  timeout: 20m
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
values:
    ingress:
      main:
        enabled: true
        integrations:
          traefik:
            enabled: true
            middlewares:
              - name: local
                namespace: traefik
          certManager:
            enabled: true
            certificateIssuer: prod-zmc
        hosts:
          - host: ha.${DOMAIN_0}
            paths:
              - path: /
                pathType: Prefix        

    release_name: homeassistant
    service:
      main:
        enabled: true
        externalIP: 10.16.40.245
        ports:
          main:
            enabled: true
            port: 8123
            protocol: http
        type: ExternalIP