apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: homeassistant
  namespace: external-service
spec:
  interval: 5m
  chart:
    spec:
      # renovate: registryUrl=https://charts.truechartsoci.org
      chart: external-service
      version: 16.14.16
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 5m
  install:
    createNamespace: true
    crds: CreateReplace
    remediation:
      retries: 3
  upgrade:
    crds: CreateReplace
    remediation:
      retries: 3
  values:
    portal:
      open:
        enabled: false
    service:
      main:
        enabled: true
        externalIP: 10.16.40.245
        ports:
          main:
            enabled: true
            port: 8123
            protocol: http
        type: ExternalIP
    ingress:
      main:
        enabled: true
        ingressClassName: external
        integrations:
          traefik:
            enabled: false
            # middlewares:
            #   - name: private-range
            #     namespace: traefik
          certManager:
            enabled: true
            certificateIssuer: prod-dl
        hosts:
          - host: ha.${DOMAIN_0}
            paths:
              - path: /
                pathType: Prefix        
